<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoes inventory</title>
  </head>
  <body>
    <% if ("shoes" in locals) { %>
    <div class="shoes">
      <% shoes.forEach(shoe => { %>
      <div class="shoe">
        <div class="gender">Gender: <%= shoe.gender %></div>
        <div class="type">Type: <%= shoe.type %></div>
        <div class="size">Size: <%= shoe.size %></div>
        <div class="price">Price: <%= shoe.price %></div>

        <div class="buttons">
          <form action="/edit/<%= shoe.id %>" method="get">
            <button type="submit">Edit</button>
          </form>

          <form action="/delete/<%= shoe.id %>" method="get">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
      <% }) %> <% } %> count: <%= shoes.length %>
    </div>

    <form action="/add" method="get">
      <button>Add shoe</button>
    </form>
  </body>
</html>
